@namespace Wayfinder.Pages.Components.Controls


<ul>
@foreach( object obj in this.Source ) {
    <li>@obj.ToString()</li>
}
</ul>


@code {
    [Parameter, EditorRequired]
    public IEnumerable<object> Source { get; set; } = null!;
}
