@namespace Wayfinder.Pages.Components.Controls



<label>
    @if( this.Label is not null ) {
            <div style="display: inline-block;">@this.Label</div>
    }
    <div class="my-toggle-switch">
        <input type="checkbox" id=@this.ElementID @bind-value=@this.IsOn />
        <span class="my-toggle-switch-slider"></span>
    </div>
</label>



@code {
    [Parameter, EditorRequired]
    public string ElementID { get; set; } = null!;

    [Parameter]
    public string? Label { get; set; } = null;

    [Parameter]
    public bool IsOn {
        get => this._IsOn;
        set {
            if( this._IsOn != value ) {
                this.IsOnChanged.InvokeAsync();
            }
            this._IsOn = value;
        }
    }

    private bool _IsOn { get; set; }

    [Parameter]
    public EventCallback<bool> IsOnChanged { get; set; }
}
