@using Wayfinder.Data.Models;
@using Wayfinder.Pages.Components.Controls;


@namespace Wayfinder.Pages.Components.Application


@inject Wayfinder.Data.WayfinderDbContext Data;
@inject Wayfinder.Services.WayfinderLogic Logic;



<div style="border:1px; border-style:solid;">
    <OptionsDynamicSingle ElementID='@($"{this.ElementID}_goal")'
            InlineLabel="Enter goal name"
            IsPickerOnly=false
            Disabled=this.Disabled
            GetOptionsBySearch=this.GetGoalEntries_Async
            CanSubmitNewOption=this.CanSubmitNewGoal
            OnSubmitNewOptionIf=this.SubmitNewGoal_Async
            @bind-CurrentOptionSelection=@this.CurrentGoalRaw></OptionsDynamicSingle>
    @* <button type="button"
            class="input-group-btn btn"
            disabled=@(this.CanSubmitGoal() == false)
            @onclick=@(() => this.SubmitNewGoal_Async())>
        Create
    </button> *@
</div>



@code {
    [Parameter, EditorRequired]
    public string ElementID { get; set; } = null!;

    [Parameter, EditorRequired]
    public string DataBinding { get; set; } = null!;


    ////

    [Parameter]
    public object? CurrentGoalRaw {
        get => this._CurrentGoalRaw;
        set {
            if( this._CurrentGoalRaw != value ) {
                this.CurrentGoalRawChanged.InvokeAsync( value );
            }
            this._CurrentGoalRaw = value;
        }
    }

    private object? _CurrentGoalRaw;

    [Parameter]
    public EventCallback<object?> CurrentGoalRawChanged { get; set; }

    [Parameter]
    public bool Disabled { get; set; } = false;



    ////////////////

    private async Task<IList<object>> GetGoalEntries_Async( string search ) {
        return await Task.Run<IList<object>>(
            () => this.Data.Goals
                .Where( g => g.Name.Contains(search) )
                .Cast<object>()
                .ToList()
        );
    }


    public bool CanSubmitNewGoal( string newOption, object? currentOptionRaw ) {
        if( this.Logic.GetOrInitConcept_Async(this.Data, this.DataBinding) is null ) {
            return false;
        }

        if( newOption == "" ) {
            return false;
        }

        return currentOptionRaw is null
            ? true
            : newOption != currentOptionRaw.ToString();
    }


    public async Task<(bool, object?)> SubmitNewGoal_Async( string newGoalName ) {
        if( this.CanSubmitNewGoal(newGoalName, this.CurrentGoalRaw) ) {
            return (false, null);
        }

        var newGoal = new GoalEntry {
            Name = newGoalName,
            Needed = await this.Logic.GetOrInitConcept_Async(this.Data, this.DataBinding)
        };

        await this.Data.Goals.AddAsync( newGoal );

        int rowsChanged = await this.Data.SaveChangesAsync();
        bool success = rowsChanged == 1;

        if( success ) {
            this.CurrentGoalRaw = newGoal;
        }

        return (success, newGoal);
    }
}
